# WebSocket server URL (ws:// for dev, wss:// for prod)
NEXT_PUBLIC_WS_URL=ws://localhost:3001

# WS Server
WS_PORT=3001
SOLANA_RPC_URL=https://api.devnet.solana.com
TREASURY_WALLET=EbiWcZG9f9Mdra67oNeHvuXmAbrnzd3uiWYwjpgF8bQg
